.header__menu-item{
    margin: 0 10px;
    font-size: 20px;
}
.header__menu-item:hover{
    color:#0FFCBE;
    cursor:pointer;
}
.header__logo-text{
    font-family: sans-serif;
}

.header-button:hover{
    background-color: black;
    color: #0FFCBE;
}