body{
    background-color: #106EBE;
    color: white;
    height: 100%;
    width: 100%;
}

.main-image{
    background-image: url('../images/1.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:40%;
    background-position-x: -8%;
    background-position-y: 95%;
}
